.info-bit {
	margin-bottom: 1rem;
}
p {
	display: inline;
	background-color: white;
	white-space: pre-line;
	padding: 0.5rem;
	line-height: 2.5;
	/* border: solid 2px red; */
	> span {
		background: green;
		color: white;
		padding: 0.2rem;
	}
}
