.bg-image {
	background-image: url('/images/404.webp');
}

h1.four-oh-four {
	color: white;
	font-size: 8rem;
	text-align: center;
}

p.blackhole {
	color: white;
	background-color: transparent;
	display: block;
	text-align: center;
	margin-top: 8rem;
}
